<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="36" android:compileSdkVersionCodename="16" android:installLocation="auto" android:requiredSplitTypes="base__abi,base__density" android:splitTypes="" package="com.lostpixels.fieldservice" platformBuildVersionCode="36" platformBuildVersionName="16">
    <queries>
        <package android:name="com.jwscheduler.jws"/>
        <package android:name="com.hourglass_app.hourglasstime"/>
        <package android:name="com.google.android.apps.maps"/>
        <package android:name="com.whatsapp"/>
    </queries>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <permission android:name="com.lostpixels.fieldservice.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.lostpixels.fieldservice.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission android:name="com.lostpixels.fieldservice.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.lostpixels.fieldservice.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="true" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:backupAgent="com.lostpixels.fieldservice.backupsync.FileBackupAgent" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_files_definition" android:fullBackupOnly="true" android:hardwareAccelerated="true" android:icon="@mipmap/icon" android:killAfterRestore="true" android:label="@string/app_name" android:name="com.lostpixels.fieldservice.MinistryAssistant" android:requestLegacyExternalStorage="true" android:supportsRtl="true" android:theme="@style/MinistryAssistantTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAI7YTuhVN30urvfEhvw5-qZlTFuqzwvyC6gXPQzw"/>
        <receiver android:exported="false" android:name="com.lostpixels.fieldservice.receivers.BootReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.lostpixels.fieldservice.receivers.TimerWidgetHandlerBroadcast"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.ImportProxyEnablerReceiver"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.ImportProxyWebEnablerReceiver"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.ReminderReciever"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.VisitNotificationReciever"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.ScheduleNotificationReciever"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.NotificationUpdateBroadcastReceiver"/>
        <receiver android:name="com.lostpixels.fieldservice.receivers.ScheduleReciever"/>
        <receiver android:name="com.lostpixels.fieldservice.backupsync.SyncReceiver"/>
        <receiver android:name="com.lostpixels.fieldservice.backupsync.SyncDelayReceiver"/>
        <receiver android:exported="false" android:label="@string/strMonthReport2x2" android:name="com.lostpixels.fieldservice.MonthReportWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/monthreport_widget"/>
        </receiver>
        <receiver android:exported="false" android:label="@string/strMonthReport4x1" android:name="com.lostpixels.fieldservice.MonthReportWidget4x1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/monthreport4x1_widget"/>
        </receiver>
        <receiver android:exported="false" android:label="@string/strServiceTimerWidget" android:name="com.lostpixels.fieldservice.TimerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/timer_widgetdef"/>
        </receiver>
        <receiver android:exported="false" android:label="@string/strServicePubCounterWidget" android:name="com.lostpixels.fieldservice.PublicationCounterWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/placements_widgetdef"/>
        </receiver>
        <service android:exported="false" android:name="com.lostpixels.fieldservice.MonthReportWidgetBase$UpdateService"/>
        <service android:exported="false" android:name="com.lostpixels.fieldservice.TimerWidget$UpdateService"/>
        <provider android:authorities="com.lostpixels.fieldservice.helpfunctions.SearchSuggestionsProvider" android:exported="false" android:name="com.lostpixels.fieldservice.helpfunctions.SearchSuggestionsProvider"/>
        <provider android:authorities="com.lostpixels.fieldservice.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <activity android:label="@string/app_name" android:name="com.lostpixels.fieldservice.activities.settings.ReportDetailsSettingsActivity" android:theme="@style/ReportDetailsSettingsTheme"/>
        <activity android:label="@string/app_name" android:name="com.lostpixels.fieldservice.activities.settings.ConvertCustomItemActivity"/>
        <activity android:exported="false" android:label="@string/searchResults" android:launchMode="singleTop" android:name="com.lostpixels.fieldservice.activities.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="com.google.android.gms.actions.SEARCH_ACTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity android:exported="false" android:label="@string/sCustomizeWidget" android:name="com.lostpixels.fieldservice.WidgetSettings" android:theme="@style/MinistryAssistantDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="@string/sCustomizeWidget" android:name="com.lostpixels.fieldservice.WidgetSettingsTimer" android:theme="@style/MinistryAssistantDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="@string/sCustomizeWidget" android:name="com.lostpixels.fieldservice.WidgetSettingsPubCounter" android:theme="@style/MinistryAssistantDialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale" android:exported="true" android:label="@string/app_name" android:name="com.lostpixels.fieldservice.activities.MinistryAssistantMain" android:theme="@style/MinistryAssistantThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.lostpixels.fieldservice.activities.backup.ImportDialogProxy" android:noHistory="true" android:taskAffinity="com.lostpixels.fieldservice.ImportDialogProxy" android:theme="@android:style/Theme.NoDisplay"/>
        <activity-alias android:enabled="true" android:exported="true" android:name="com.lostpixels.fieldservice.ImportDialogAlias" android:targetActivity="com.lostpixels.fieldservice.activities.backup.ImportDialogProxy">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream" android:pathPattern=".*\\.mab" android:scheme="file"/>
                <data android:mimeType="application/octet-stream" android:pathPattern=".*\\.mab" android:scheme="content"/>
                <data android:mimeType="text/x-vcard" android:pathPattern=".*\\.vcf" android:scheme="file"/>
                <data android:mimeType="text/x-vcard" android:pathPattern=".*\\.vcf" android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:mimeType="text/x-vcard"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="locale" android:excludeFromRecents="true" android:exported="true" android:name="com.lostpixels.fieldservice.activities.backup.ImportDialog" android:taskAffinity="com.lostpixels.fieldservice.ImportDialog" android:theme="@style/MinistryAssistantDialogLight" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.ministryassistantbackup"/>
                <data android:pathPattern=".*\\.mab"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.ministryassistantexport"/>
                <data android:pathPattern=".*\\.mae"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.mabackupbin"/>
                <data android:pathPattern=".*\\.mabackup"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/vnd.maexportbin"/>
                <data android:pathPattern=".*\\.maexport"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/maexport"/>
                <data android:host="*"/>
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/x-gzip" android:pathPattern=".*\\.maexport" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/x-gzip" android:pathPattern=".*\\.mabackup" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/mabackup"/>
                <data android:host="*"/>
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.mab"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.mae"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.mabackup"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.maexport"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.mytimedb"/>
                <data android:host="*"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mae" android:scheme="file"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mae" android:scheme="content"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mabackup" android:scheme="file"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mabackup" android:scheme="content"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.maexport" android:scheme="file"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.maexport" android:scheme="content"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mytimedb" android:scheme="file"/>
                <data android:host="*" android:mimeType="application/octet-stream" android:pathPattern=".*\\.mytimedb" android:scheme="content"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="*" android:mimeType="mytime/sqlite" android:scheme="file"/>
                <data android:host="*" android:mimeType="mytime/sqlite" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.ministryassistantexport"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.ministryassistantbackup"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.maexportbin"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="application/vnd.mabackupbin"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.maexport"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:mimeType="application/vnd.maexportbin"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.mae"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="ftp"/>
                <data android:mimeType="application/vnd.ministryassistantexport"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="true" android:exported="true" android:name="com.lostpixels.fieldservice.ImportDialogAliasWeb" android:targetActivity="com.lostpixels.fieldservice.activities.backup.ImportDialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="territoryhelper.com" android:pathPattern="/.*/View/Territory/.*" android:scheme="https"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/.*/View/Territory/.*" android:scheme="https"/>
                <data android:host="territoryhelper.com" android:pathPattern="/.*/View/Territory/.*" android:scheme="http"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/.*/View/Territory/.*" android:scheme="http"/>
                <data android:host="territoryhelper.com" android:pathPattern="/View/Territory/.*" android:scheme="https"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/View/Territory/.*" android:scheme="https"/>
                <data android:host="territoryhelper.com" android:pathPattern="/View/Territory/.*" android:scheme="http"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/View/Territory/.*" android:scheme="http"/>
                <data android:host="territoryhelper.com" android:pathPattern="/View/CampaignTerritory/.*" android:scheme="https"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/View/CampaignTerritory/.*" android:scheme="https"/>
                <data android:host="territoryhelper.com" android:pathPattern="/View/CampaignTerritory/.*" android:scheme="http"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/View/CampaignTerritory/.*" android:scheme="http"/>
                <data android:host="territoryhelper.com" android:pathPattern="/.*/View/CampaignTerritory/.*" android:scheme="https"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/.*/View/CampaignTerritory/.*" android:scheme="https"/>
                <data android:host="territoryhelper.com" android:pathPattern="/.*/View/CampaignTerritory/.*" android:scheme="http"/>
                <data android:host="www.territoryhelper.com" android:pathPattern="/.*/View/CampaignTerritory/.*" android:scheme="http"/>
                <data android:host="territoryassistant.com" android:pathPattern="//QRTerritory/.*" android:scheme="https"/>
                <data android:host="www.territoryassistant.com" android:pathPattern="//QRTerritory/.*" android:scheme="https"/>
                <data android:host="territoryassistant.com" android:pathPattern="//QRTerritory/.*" android:scheme="http"/>
                <data android:host="www.territoryassistant.com" android:pathPattern="//QRTerritory/.*" android:scheme="http"/>
                <data android:host="territoryassistant.com" android:pathPattern="/QRTerritory/.*" android:scheme="https"/>
                <data android:host="www.territoryassistant.com" android:pathPattern="/QRTerritory/.*" android:scheme="https"/>
                <data android:host="territoryassistant.com" android:pathPattern="/QRTerritory/.*" android:scheme="http"/>
                <data android:host="www.territoryassistant.com" android:pathPattern="/QRTerritory/.*" android:scheme="http"/>
            </intent-filter>
        </activity-alias>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="fullSensor" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:configChanges="locale" android:label="@string/titleAddTerritory" android:name="com.lostpixels.fieldservice.activities.territory.TerritoryAdder"/>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.settings.ProfileEditor"/>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.territory.TerritoryTab"/>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.visits.ReturnVisitsTab">
            <meta-data android:name="android.app.default_searchable" android:value=".activities.SearchActivity"/>
        </activity>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.territory.TerritoryList"/>
        <activity android:configChanges="locale" android:label="@string/titlePersonDialog" android:name="com.lostpixels.fieldservice.activities.visits.PersonDialog" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="locale" android:label="@string/strDeductTime" android:name="com.lostpixels.fieldservice.activities.servicereport.DeductTimeDlg" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="keyboardHidden|locale|orientation" android:label="@string/titleCreateStreet" android:name="com.lostpixels.fieldservice.activities.territory.TerritoryTemplate" android:theme="@style/MinistryAssistantDialog" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="locale" android:label="@string/titleCreateBuilding" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.BuildingDialog" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:label="@string/titleAddressSendDlg" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.AddressSendDialog" android:theme="@style/MinistryAssistantDialog" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="locale" android:label="@string/setPreferences" android:name="com.lostpixels.fieldservice.activities.settings.Preferences" android:theme="@style/PreferencesTheme"/>
        <activity android:configChanges="locale" android:label="@string/lblStatistics" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.TerritoryOverviewDialog" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:label="@string/lblArea" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.CreateAreaDialog" android:theme="@style/MinistryAssistantDialog" android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:configChanges="locale" android:label="@string/lblReorderArea" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.RuralTerritoryReorder" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.servicereport.ServiceReportActivity"/>
        <activity android:configChanges="locale" android:label="@string/lblAddTime" android:name="com.lostpixels.fieldservice.activities.servicereport.AddReportTime" android:taskAffinity=".AddReportTime" android:theme="@style/MinistryAssistantDialog" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="locale" android:label="@string/strError" android:name="com.lostpixels.fieldservice.dialogs.LoadFileErrorDlg" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:name="com.lostpixels.fieldservice.activities.TutorialDialog"/>
        <activity android:configChanges="locale" android:label="@string/lblTimeForReturnVisit" android:name="com.lostpixels.fieldservice.activities.visits.AddToCalendarDlg" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:name="com.lostpixels.fieldservice.activities.visits.PersonMapDialog"/>
        <activity android:configChanges="locale" android:label="@string/lblItemToTag" android:name="com.lostpixels.fieldservice.activities.visits.SelectItemToTagDlg" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:label="@string/lblEditPerson" android:name="com.lostpixels.fieldservice.activities.visits.EditPersonDialog"/>
        <activity android:configChanges="locale" android:label="@string/lblEditVisit" android:name="com.lostpixels.fieldservice.activities.visits.EditVisitDialog"/>
        <activity android:configChanges="locale" android:label="@string/titleAddTerritory" android:name="com.lostpixels.fieldservice.activities.territory.PreCreateTerritory"/>
        <activity android:configChanges="locale" android:label="@string/lblPhoneTerritory" android:name="com.lostpixels.fieldservice.activities.territory.dialogs.PhoneTerritoryDlg" android:theme="@style/MinistryAssistantDialog"/>
        <activity android:configChanges="locale" android:label="@string/strBackup" android:name="com.lostpixels.fieldservice.activities.backup.BackupPageActivity"/>
        <activity android:configChanges="locale" android:label="@string/lblStatistics" android:name="com.lostpixels.fieldservice.activities.servicereport.ServiceChartActivity"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.lostpixels.fieldservice.activities.StartPauseNotificationActivity" android:noHistory="true" android:taskAffinity="com.lostpixels.fieldservice.StartPauseNotificationActivity" android:theme="@style/InvisibleWindow"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.lostpixels.fieldservice.TimerWidgetHandler" android:noHistory="true" android:taskAffinity="com.lostpixels.fieldservice.TimerWidgetHandler" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.lostpixels.fieldservice.PublicationCounterWidgetHandler" android:noHistory="true" android:taskAffinity="com.lostpixels.fieldservice.PublicationCounterWidgetHandler" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:configChanges="locale" android:label="" android:name="com.lostpixels.fieldservice.activities.MinistryScheduleActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.lostpixels.fieldservice.dialogs.PatternLockDlg" android:screenOrientation="user" android:theme="@style/Alp.Theme.Dialog.Light"/>
        <activity android:configChanges="locale" android:label="@string/strCreateMapCard" android:name="com.lostpixels.fieldservice.activities.territory.MapCreatorActivity"/>
        <activity android:enabled="true" android:exported="false" android:icon="@null" android:label="@string/choose_file" android:name="com.ipaulpro.afilechooser.FileChooserActivity" android:theme="@style/ChooserTheme">
            <intent-filter android:exported="false">
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.lostpixels.fieldservice.activities.territory.returnterritory.ReturnTerritoryWizard"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h"/>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBRxmgir9PrOxJ3Qyk49JHVtNOh3gN5ks0"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamicloading.DynamicLoadingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <provider android:authorities="com.lostpixels.fieldservice.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <provider android:authorities="com.lostpixels.fieldservice.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity" android:theme="@style/WhiteBackgroundTheme">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity" android:theme="@style/WhiteBackgroundTheme">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity" android:theme="@style/WhiteBackgroundDialogTheme">
            <intent-filter android:priority="-100">
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="4"/>
    </application>
</manifest>